@font-face {
  font-family: 'IFIcons';
  src:url('fonts/IFIcons.eot?-5ksh8z');
  src:url('fonts/IFIcons.eot?#iefix-5ksh8z') format('embedded-opentype'),
    url('fonts/IFIcons.ttf?-5ksh8z') format('truetype'),
    url('fonts/IFIcons.woff?-5ksh8z') format('woff'),
    url('fonts/IFIcons.svg?-5ksh8z#IFIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ificon-"], [class*=" ificon-"] {
  font-family: 'IFIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ificon-expo-agriculture:before {
  content: "\e602";
}
.ificon-expo-beauty-wellness:before {
  content: "\e603";
}
.ificon-expo-boating:before {
  content: "\e604";
}
.ificon-expo-building:before {
  content: "\e605";
}
.ificon-expo-design:before {
  content: "\e606";
}
.ificon-expo-ict-electronics:before {
  content: "\e607";
}
.ificon-expo-fashion:before {
  content: "\e608";
}
.ificon-expo-food:before {
  content: "\e609";
}
.ificon-expo-health:before {
  content: "\e64b";
}
.ificon-expo-industries-manufacturing:before {
  content: "\e60a";
}
.ificon-expo-job:before {
  content: "\e60b";
}
.ificon-expo-vehicles:before {
  content: "\e60c";
}
.ificon-expo-media:before {
  content: "\e60d";
}
.ificon-expo-pet:before {
  content: "\e60e";
}
.ificon-expo-professional-firms:before {
  content: "\e60f";
}
.ificon-expo-real-estate:before {
  content: "\e610";
}
.ificon-expo-services:before {
  content: "\e611";
}
.ificon-expo-shopping:before {
  content: "\e612";
}
.ificon-expo-sport-fitness:before {
  content: "\e613";
}
.ificon-expo-transport-logistics:before {
  content: "\e64c";
}
.ificon-expo-tourism:before {
  content: "\e614";
}
.ificon-search:before {
  content: "\e600";
}
.ificon-where:before {
  content: "\e601";
}
.ificon-aboutus:before {
  content: "\e615";
}
.ificon-profile:before {
  content: "\e615";
}
.ificon-antoff:before {
  content: "\e616";
}
.ificon-expo-art-culture:before {
  content: "\e617";
}
.ificon-associations:before {
  content: "\e618";
}
.ificon-blog:before {
  content: "\e619";
}
.ificon-brand:before {
  content: "\e61a";
}
.ificon-brands:before {
  content: "\e61a";
}
.ificon-certifications:before {
  content: "\e61b";
}
.ificon-closed:before {
  content: "\e61c";
}
.ificon-company:before {
  content: "\e61d";
}
.ificon-company-team:before {
  content: "\e61e";
}
.ificon-comspo:before {
  content: "\e61f";
}
.ificon-concerts:before {
  content: "\e620";
}
.ificon-consfi:before {
  content: "\e621";
}
.ificon-contacts:before {
  content: "\e622";
}
.ificon-contract-forms:before {
  content: "\e623";
}
.ificon-directions:before {
  content: "\e624";
}
.ificon-ecommerce:before {
  content: "\e625";
}
.ificon-edu:before {
  content: "\e626";
}
.ificon-event-category:before {
  content: "\e627";
}
.ificon-events:before {
  content: "\e628";
}
.ificon-eveser:before {
  content: "\e629";
}
.ificon-expo:before {
  content: "\e62a";
}
.ificon-export:before {
  content: "\e62b";
}
.ificon-fairs:before {
  content: "\e62c";
}
.ificon-fesfol:before {
  content: "\e62d";
}
.ificon-form:before {
  content: "\e62e";
}
.ificon-googleanalytics:before {
  content: "\e62f";
}
.ificon-group:before {
  content: "\e630";
}
.ificon-import:before {
  content: "\e631";
}
.ificon-media:before {
  content: "\e632";
}
.ificon-meteo:before {
  content: "\e633";
}
.ificon-offlav:before {
  content: "\e634";
}
.ificon-open:before {
  content: "\e635";
}
.ificon-opening:before {
  content: "\e636";
}
.ificon-opening-hours:before {
  content: "\e636";
}
.ificon-partem:before {
  content: "\e637";
}
.ificon-partners:before {
  content: "\e638";
}
.ificon-photogallery:before {
  content: "\e639";
}
.ificon-politics:before {
  content: "\e63a";
}
.ificon-press:before {
  content: "\e63b";
}
.ificon-professional-category:before {
  content: "\e63c";
}
.ificon-rating:before {
  content: "\e63d";
}
.ificon-religion:before {
  content: "\e63e";
}
.ificon-ruzzle:before {
  content: "\e63f";
}
.ificon-references:before {
  content: "\e63f";
}
.ificon-sector:before {
  content: "\e640";
}
.ificon-services:before {
  content: "\e641";
}
.ificon-signup:before {
  content: "\e642";
}
.ificon-skills:before {
  content: "\e643";
}
.ificon-sport:before {
  content: "\e644";
}
.ificon-streaminglive:before {
  content: "\e645";
}
.ificon-theater:before {
  content: "\e646";
}
.ificon-traffic:before {
  content: "\e647";
}
.ificon-turnover:before {
  content: "\e648";
}
.ificon-smart-ratios:before {
  content: "\e648";
}
.ificon-videocall:before {
  content: "\e649";
}
.ificon-videos:before {
  content: "\e64a";
}
.ificon-associate:before {
  content: "\e64d";
}
.ificon-governance:before {
  content: "\e64e";
}
.ificon-board-member:before {
  content: "\e64f";
}
.ificon-auditor-member:before {
  content: "\e64f";
}
.ificon-balance-sheet:before {
  content: "\e650";
}
.ificon-production-capacity:before {
  content: "\e651";
}
.ificon-indoor:before {
  content: "\e652";
}
.ificon-outdoor:before {
  content: "\e653";
}
.ificon-auditors:before {
  content: "\e654";
}
.ificon-prodlines:before {
  content: "\e655";
}
.ificon-dircoord:before {
  content: "\e656";
}
.ificon-employees:before {
  content: "\e657";
}
.ificon-catalogs:before {
  content: "\e658";
}
.ificon-traffic-rank:before {
  content: "\e659";
}
.ificon-share:before {
  content: "\e65a";
}
.ificon-onsite-check:before {
  content: "\e65b";
}
.ificon-smart-ratios2:before {
  content: "\e65c";
}
.ificon-buyers:before {
  content: "\e65d";
}
.ificon-virtual-tour:before {
  content: "\e65e";
}
.ificon-sponsors:before {
  content: "\e65f";
}
.ificon-banking-reference:before {
  content: "\e660";
}
.ificon-awards:before {
  content: "\e661";
}
.ificon-suppliers:before {
  content: "\e662";
}
.ificon-ratios:before {
  content: "\e663";
}
.ificon-profit-loss:before {
  content: "\e664";
}
.ificon-environment:before {
  content: "\e665";
}
.ificon-course-credits:before {
  content: "\e666";
}
.ificon-pricelists:before {
  content: "\e667";
}
.ificon-ethics:before {
  content: "\e668";
}
.ificon-publications:before {
  content: "\e669";
}
.ificon-works:before {
  content: "\e66a";
}
.ificon-endorsements:before {
  content: "\e66b";
}
.ificon-rss:before {
  content: "\e66c";
}
.ificon-equipment:before {
  content: "\e66d";
}
.ificon-policies:before {
  content: "\e66e";
}
.ificon-annual-report:before {
  content: "\e66f";
}
.ificon-rete-vendita:before {
  content: "\e670";
}
.ificon-info:before {
  content: "\e671";
}
.ificon-if-onsite-chk-1:before {
  content: "\e672";
}
.ificon-if-onsite-chk-2:before {
  content: "\e673";
}
.ificon-if-onsite-chk-3:before {
  content: "\e674";
}
.ificon-if-onsite-chk-4:before {
  content: "\e675";
}
.ificon-if-onsite-chk-5:before {
  content: "\e676";
}
.ificon-check:before {
  content: "\f00c";
}
.ificon-home:before {
  content: "\f015";
}
.ificon-plus:before {
  content: "\f067";
}
.ificon-minus:before {
  content: "\f068";
}
.ificon-phone:before {
  content: "\f095";
}
.ificon-globe:before {
  content: "\f0ac";
}
.ificon-worldwide:before {
  content: "\f0ac";
}
.ificon-import-export:before {
  content: "\f0ac";
}
.ificon-bars:before {
  content: "\f0c9";
}
.ificon-navicon:before {
  content: "\f0c9";
}
.ificon-reorder:before {
  content: "\f0c9";
}
.ificon-close:before {
  content: "\f00d";
}
.ificon-remove:before {
  content: "\f00d";
}
.ificon-times:before {
  content: "\f00d";
}
.ificon-search2:before {
  content: "\f002";
}
.ificon-envelope-o:before {
  content: "\f003";
}
.ificon-star:before {
  content: "\f005";
}
.ificon-rating2:before {
  content: "\f005";
}
.ificon-star-o:before {
  content: "\f006";
}
.ificon-film:before {
  content: "\f008";
}
.ificon-th-list:before {
  content: "\f00b";
}
.ificon-cog:before {
  content: "\f013";
}
.ificon-gear:before {
  content: "\f013";
}
.ificon-file-o:before {
  content: "\f016";
}
.ificon-arrow-circle-o-down:before {
  content: "\f01a";
}
.ificon-arrow-circle-o-up:before {
  content: "\f01b";
}
.ificon-inbox:before {
  content: "\f01c";
}
.ificon-refresh:before {
  content: "\f021";
}
.ificon-tag:before {
  content: "\f02b";
}
.ificon-tags:before {
  content: "\f02c";
}
.ificon-print:before {
  content: "\f02f";
}
.ificon-pencil:before {
  content: "\f040";
}
.ificon-map-marker:before {
  content: "\f041";
}
.ificon-step-backward:before {
  content: "\f048";
}
.ificon-fast-backward:before {
  content: "\f049";
}
.ificon-backward:before {
  content: "\f04a";
}
.ificon-play:before {
  content: "\f04b";
}
.ificon-pause:before {
  content: "\f04c";
}
.ificon-stop:before {
  content: "\f04d";
}
.ificon-forward:before {
  content: "\f04e";
}
.ificon-fast-forward:before {
  content: "\f050";
}
.ificon-step-forward:before {
  content: "\f051";
}
.ificon-chevron-left:before {
  content: "\f053";
}
.ificon-chevron-right:before {
  content: "\f054";
}
.ificon-plus-circle:before {
  content: "\f055";
}
.ificon-minus-circle:before {
  content: "\f056";
}
.ificon-times-circle:before {
  content: "\f057";
}
.ificon-check-circle:before {
  content: "\f058";
}
.ificon-question-circle:before {
  content: "\f059";
}
.ificon-info-circle:before {
  content: "\f05a";
}
.ificon-crosshairs:before {
  content: "\f05b";
}
.ificon-times-circle-o:before {
  content: "\f05c";
}
.ificon-check-circle-o:before {
  content: "\f05d";
}
.ificon-ban:before {
  content: "\f05e";
}
.ificon-arrow-left:before {
  content: "\f060";
}
.ificon-arrow-right:before {
  content: "\f061";
}
.ificon-arrow-up:before {
  content: "\f062";
}
.ificon-arrow-down:before {
  content: "\f063";
}
.ificon-asterisk:before {
  content: "\f069";
}
.ificon-exclamation-circle:before {
  content: "\f06a";
}
.ificon-eye:before {
  content: "\f06e";
}
.ificon-eye-slash:before {
  content: "\f070";
}
.ificon-chevron-up:before {
  content: "\f077";
}
.ificon-chevron-down:before {
  content: "\f078";
}
.ificon-cogs:before {
  content: "\f085";
}
.ificon-gears:before {
  content: "\f085";
}
.ificon-comments:before {
  content: "\f086";
}
.ificon-thumbs-o-up:before {
  content: "\f087";
}
.ificon-credit-card:before {
  content: "\f09d";
}
.ificon-web-communication:before {
  content: "\f0a1";
}
.ificon-arrow-circle-left:before {
  content: "\f0a8";
}
.ificon-arrow-circle-right:before {
  content: "\f0a9";
}
.ificon-arrow-circle-up:before {
  content: "\f0aa";
}
.ificon-arrow-circle-down:before {
  content: "\f0ab";
}
.ificon-wrench:before {
  content: "\f0ad";
}
.ificon-filter:before {
  content: "\f0b0";
}
.ificon-list-ul:before {
  content: "\f0ca";
}
.ificon-caret-down:before {
  content: "\f0d7";
}
.ificon-caret-up:before {
  content: "\f0d8";
}
.ificon-caret-left:before {
  content: "\f0d9";
}
.ificon-caret-right:before {
  content: "\f0da";
}
.ificon-sort-desc:before {
  content: "\f0dd";
}
.ificon-sort-down:before {
  content: "\f0dd";
}
.ificon-sort-asc:before {
  content: "\f0de";
}
.ificon-sort-up:before {
  content: "\f0de";
}
.ificon-envelope:before {
  content: "\f0e0";
}
.ificon-sitemap:before {
  content: "\f0e8";
}
.ificon-lightbulb-o:before {
  content: "\f0eb";
}
.ificon-angle-left:before {
  content: "\f104";
}
.ificon-angle-right:before {
  content: "\f105";
}
.ificon-angle-up:before {
  content: "\f106";
}
.ificon-angle-down:before {
  content: "\f107";
}
.ificon-spinner:before {
  content: "\f110";
}
.ificon-circle:before {
  content: "\f111";
}
.ificon-star-half-empty:before {
  content: "\f123";
}
.ificon-star-half-full:before {
  content: "\f123";
}
.ificon-star-half-o:before {
  content: "\f123";
}
.ificon-question:before {
  content: "\f128";
}
.ificon-chevron-circle-left:before {
  content: "\f137";
}
.ificon-chevron-circle-right:before {
  content: "\f138";
}
.ificon-chevron-circle-up:before {
  content: "\f139";
}
.ificon-chevron-circle-down:before {
  content: "\f13a";
}
.ificon-ellipsis-h:before {
  content: "\f141";
}
.ificon-ellipsis-v:before {
  content: "\f142";
}
.ificon-play-circle:before {
  content: "\f144";
}
.ificon-compass:before {
  content: "\f14e";
}
.ificon-thumbs-up:before {
  content: "\f164";
}
.ificon-arrow-circle-o-right:before {
  content: "\f18e";
}
.ificon-arrow-circle-o-left:before {
  content: "\f190";
}
.ificon-dot-circle-o:before {
  content: "\f192";
}
.ificon-wheelchair:before {
  content: "\f193";
}
.ificon-life-bouy:before {
  content: "\f1cd";
}
.ificon-life-buoy:before {
  content: "\f1cd";
}
.ificon-life-ring:before {
  content: "\f1cd";
}
.ificon-life-saver:before {
  content: "\f1cd";
}
.ificon-support:before {
  content: "\f1cd";
}
.ificon-sliders:before {
  content: "\f1de";
}
.ificon-share-alt:before {
  content: "\f1e0";
}
.ificon-wifi:before {
  content: "\f1eb";
}
.ificon-paypal:before {
  content: "\f1ed";
}
.ificon-cc-visa:before {
  content: "\f1f0";
}
.ificon-cc-mastercard:before {
  content: "\f1f1";
}
.ificon-cc-discover:before {
  content: "\f1f2";
}
.ificon-cc-amex:before {
  content: "\f1f3";
}
.ificon-cc-paypal:before {
  content: "\f1f4";
}
.ificon-trash:before {
  content: "\f1f8";
}
.ificon-cart-plus:before {
  content: "\f217";
}
