div.rsTable2-insert-groups-container {height: auto;overflow: visible;}
div.rsTable2-insert-row-l-boolean {padding-right:3px;}
div.rsTable2-insert-container {height: auto;overflow: visible;text-align: left;}
div.rsTable2-insert-container div.rsTable2-insert-row:hover {background-color: transparent;}
div.rsTable2-insert-container div.rsTable2-insert-groups-titolo {min-height:15px;padding:0px;margin:0px;}
div.rsTable2-insert-container div.rsTable2-insert-groups-container {height:auto;overflow: visible;}