vti_encoding:SR|utf8-nl
vti_author:SR|MIRCO\\MircoP
vti_modifiedby:SR|MIRCO\\MircoP
vti_timelastmodified:TR|11 Feb 2009 13:47:08 -0000
vti_timecreated:TR|11 Feb 2009 13:47:08 -0000
vti_cacheddtm:TX|11 Feb 2009 13:47:08 -0000
vti_filesize:IR|5576
vti_cachedlinkinfo:VX|S|normal-bg.gif S|title-bg.gif S|menuarrow.gif S|title-bg.gif S|title-bg.gif S|hover-bg.gif S|active-bg.gif S|dark-bg.gif S|dark-bg.gif S|rowhover-bg.gif S|hover-bg.gif S|active-bg.gif S|status-bg.gif S|normal-bg.gif S|hover-bg.gif S|active-bg.gif S|dark-bg.gif S|normal-bg.gif S|hover-bg.gif S|active-bg.gif
vti_cachedsvcrellinks:VX|FSUS|css/skins/aqua/normal-bg.gif FSUS|css/skins/aqua/title-bg.gif FSUS|css/skins/aqua/menuarrow.gif FSUS|css/skins/aqua/title-bg.gif FSUS|css/skins/aqua/title-bg.gif FSUS|css/skins/aqua/hover-bg.gif FSUS|css/skins/aqua/active-bg.gif FSUS|css/skins/aqua/dark-bg.gif FSUS|css/skins/aqua/dark-bg.gif FSUS|css/skins/aqua/rowhover-bg.gif FSUS|css/skins/aqua/hover-bg.gif FSUS|css/skins/aqua/active-bg.gif FSUS|css/skins/aqua/status-bg.gif FSUS|css/skins/aqua/normal-bg.gif FSUS|css/skins/aqua/hover-bg.gif FSUS|css/skins/aqua/active-bg.gif FSUS|css/skins/aqua/dark-bg.gif FSUS|css/skins/aqua/normal-bg.gif FSUS|css/skins/aqua/hover-bg.gif FSUS|css/skins/aqua/active-bg.gif
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|
